<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TodoList - Dashboard  {% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/white/dashboard.css" id="dashboard"> <!-- Dashboard -->
        <link rel="stylesheet" href="/assets/css/white/add.css" id="add"> <!-- Add -->
        <link rel="stylesheet" href="/assets/css/white/edit.css" id="edit"> <!-- edit -->
        <link rel="stylesheet" href="/assets/css/white/invitations.css" id="invitations"> <!-- invitations -->

        <!-- Icone -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% block css %}   {% endblock %}
    </head>

    {% block body %}
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-md sticky-top nav">
                <!-- Titre de notre site -->
                <a class="navbar-brand logo" href="{{ path("tasks_index") }}">TodoList</a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                    <span><i class="fas fa-bars"></i></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("invitations_index") }}"><i class="far fa-address-book"></i>Mes amis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("invitations_new") }}"><i class="fas fa-user-plus"></i>Ajouter des amis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-disabled="true" role="button"> <i class="fas fa-adjust" ></i><span id="theme">Thème</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i>Deconnexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}

        <!-- Défini le titre de la page -->
        <div class="m-auto page_name">
            <h3 class="text-center">{% block page_name %}{% endblock %}</h3>
        </div>

        <!-- Contenu de la page -->
        <div class="content">{% block content %}{% endblock %} </div>


         <script>
             window.onload = () => {
                 // On va chercher la balise link
                 let themeLink = document.getElementById("dashboard");
                 let add = document.getElementById("add");
                 let edit = document.getElementById("edit");

                // Y'a t-il un thème stocker dans le localStorage
                 if(localStorage.theme != null){
                     themeLink.href = `/assets/css/${localStorage.theme}/dashboard.css`;
                     add.href = `/assets/css/${localStorage.theme}/add.css`;
                     edit.href = `/assets/css/${localStorage.theme}/edit.css`;
                 }else{
                     themeLink.href = "/assets/css/white/dashboard.css";
                     add.href = "/assets/css/white/add.css";
                     edit.href = "/assets/css/white/add.css";
                    localStorage.theme = "white";
                 }

                 //Si la personne revient sur la page
                 let theme = document.getElementById("theme");

                 if(localStorage.theme == "white"){
                     theme.innerText = "Thème sombre";
                 }else{
                     theme.innerText = "Thème clair";
                 }

                 // Ecouteur d'évènement "click" sur la span
                 theme.addEventListener("click", function(){
                     if(localStorage.theme == "white"){
                        localStorage.theme = "dark";
                        this.innerText = "Thème clair";
                     }else if(localStorage.theme == "dark"){
                         localStorage.theme = "white";
                         this.innerText = "Thème sombre";
                     }
                     themeLink.href = `/assets/css/${localStorage.theme}/dashboard.css`;
                     add.href = `/assets/css/${localStorage.theme}/add.css`;
                     edit.href = `/assets/css/${localStorage.theme}/add.css`;

                 });

             }

         </script>
        <script src="https://kit.fontawesome.com/128f69e9e2.js"></script>
    </body>
    {% endblock %}
</html>
