{% extends "/layouts/layout.html.twig" %}

{% block css %}  <link rel="stylesheet" href="assets/css/dashboard.css"> {% endblock %}

{% block content %}
    <h3 class="text-center m-auto nothing"> Vous n'avez rien à faire pour le moment...</h3>


    <!-- Bouton pour ajouter une tâche -->
    <div class="fixed-bottom text-right p-3">
        <a href="{{ path('add') }}" class="add_task" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
    </div>

{% endblock %}
