/************************************/
/*               Content             */
/************************************/

    /* Rien à faire */
    .nothing{
        padding-top: 60%;
        color: #1D3557;
        font-family: "Rockwell Nova";
    }

    /* Ajouter une todo */
    .add_task{
        font-size: 40px;
        background: #1D3557;
        border-radius: 1500px;
    }

    .add_task:hover{
        background: #182C47;
    }

    /* Icone : + */
    .add_task i{
        padding: 20px 10px;
        color:#F1FAEE;
    }