

/************************************/
/*               Content             */
/************************************/

    /* Rien à faire */
    .nothing{
        padding-top: 60%;
        color: #1D3557;
        font-family: "Rockwell Nova";
    }

    /* Section d'une tâche */
    .task{
        border: #1D3557 solid 1px;
        width: 90%;
        padding:5px 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        /* Tâche fini - Delete */
        .delete{
            background: #F1FAEE;
            border: solid 2px #1D3557;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            cursor:pointer;
        }

        /* Tâche à faire */
        .title,.status{
            color:#1D3557;
            font-size: 16px;
            font-family: "Rockwell Nova";
        }

        .status{
            font-size: 12px;
            font-family: "Rockwell Nova Light";
        }

        /* Options*/
        .share, .modify{
            font-size: 25px;
            color:#1D3557;
        }


    /*Delete le padding de bootstrap */
    .delete_padding, .task_padding, .option_padding{
        padding: 0px;
    }


    /* Ajouter une todo */
    .add_task{
        font-size: 40px;
        background: #1D3557;
        border-radius: 150px;
    }

    .add_task:hover{
        background: #182C47;
    }

    /* Icone : + */
    .add_task i{
        padding: 20px 10px;
        color:#F1FAEE;
    }

