*{
    margin:0px;
    padding:0px;
}

/************************************/
/*               HEADER             */
/************************************/
    /* Logo */
    .logo{
        color:#F1FAEE;
        font-family: "Rockwell Nova";
        font-size: 25px;
        color: #F1FAEE;
    }

    /* Background de la naviguation */
    .nav{
        background-color:#1D3557;
        color: #F1FAEE;
    }

    /* Menu de la naviguation */
    nav a, nav a:hover{
        text-decoration: none;
        color: #F1FAEE;
    }

    nav i{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: #F1FAEE;
    }

    /* Titre de la page en question */
    .page_name{
        width: 75%;

    }

    .page_name h3{
        color:#1D3557;
        font-size: 25px;
        padding-bottom: 10px;
        margin-top: 20px;
        font-family: "Rockwell Nova";
    }