*{
    margin:0px;
    padding:0px;
}

/************************************/
/*               HEADER             */
/************************************/
    /* Logo */
    .logo{
        color:#F1FAEE;
        font-family: "Rockwell Nova";
        font-size: 25px;
    }

    /* Background de la naviguation */
    .nav{
        background-color:#1D3557;
        color: #F1FAEE;
        border-bottom: #F1FAEE 2px solid;
    }

    /* Menu de la naviguation */
    nav a, nav a:hover{
        text-decoration: none;
        color: #F1FAEE;
    }

    nav i{
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: #F1FAEE;
    }

